  <footer class="row">
    <div class="col-4">
        <p class="float-left mb-2">© 2019 Un cuarto de costura</p>
    </div>
    <div class="col-4 d-flex d-inline justify-content-center">
        <a class="" href="https://www.facebook.com/uncuartodecostura/"><i class="fab fa-facebook-f"></i></a>
        <a class="ml-2" href="https://www.instagram.com/uncuartodecostura"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="col-4">
        <p class="float-right mb-0"><a class="scroll-to-top mb-2" href="#page-top"><i class="fas fa-angle-up"></i></a><img class="emji" src="./assets/images/emji-small.png"></p>
    </div>
  </footer>