  <nav class="container navbar fixed-top navbar-light bg-un-cuarto">
    <a class="navbar-brand inline" href="#">
        <img class="d-none d-md-inline" src="./assets/images/logo.svg" style="width:50px"/>
        <span>Un cuarto de costura</span>
    </a>
    <div class="navbar-nav-scroll">
       <ul class="navbar-nav bd-navbar-nav flex-row">
         <li class="nav-item pr-1">
           <a class="nav-link scroll-to" href="#us">Nosotros</a>
         </li>
         <li class="nav-item pl-1 pr-1">
           <a class="nav-link scroll-to" href="#classes">Clases</a>
         </li>
         <li class="nav-item pl-1 pr-1">
           <a class="nav-link scroll-to" href="#contact">Contacto</a>
         </li>

         <li class="nav-item pl-1 pr-1">
           <a class="nav-link" href="https://www.facebook.com/uncuartodecostura/"><i class="fab fa-facebook-f"></i></a>
         </li>

        <li class="nav-item pl-1">
           <a class="nav-link" href="https://www.instagram.com/uncuartodecostura"><i class="fab fa-instagram"></i></a>
         </li>


         
       </ul>
    </div>
  </nav>
