---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-84297605-4');
  </script>
</head>
<body id="page-top">
    
    {% include navigation.html %}
    <div class="jumbotron jumbotron-fluid un-cuarto position-relative">
        <img src="./assets/images/un-cuarto.png" class="img-fluid"/>
        <div class="container w-25 float-right m-3 d-none d-xl-block position-absolute">
            <h1>Manos a la obra</h1>
              <p>Somos una comunidad de <em>quilters</em> en la Ciudad de México. Impartimos clases de <em>quilting</em> y <em>patchwork</em> para todos los niveles.  </p>
        </div>  
        </div>
    <div class="container">
      <section id="copy" class="row featurette section d-xl-none">
        <div class="col-md-12">
            <h2 class="featurette-heading">Un cuarto de costura</h2>
            <p>Somos una comunidad de <em>quilters</em> en la Ciudad de México. Impartimos clases de costura, <em>quilting</em> y <em>patchwork</em> para todos los niveles.  </p>
        </div> 
      </section>
    {% for section in site.sections %}
      <section id="{{ section.html-id }}" class="row featurette section">
        <div class="col-md-5 order-md-{{ section.text-order }} mt-5">
          <h2 class="featurette-heading"><span class="">{{ section.name }}</span></h2>
          <p class="lead">{{ section.content }}</p>
        </div>
        <div class="col-md-7 order-md-{{ section.image-order }} ">
          <img class="featurette-image img-fluid mx-auto {{ section.image }}" src="./assets/images/{{ section.image }}.png"  data-aos="fade-{{ section.image-fade }}" />
        </div>
      </section>
    {% endfor %}


      <section id="contact" class="row featurette section">
        <div class="col-md-5 order-md-1 mt-5">
          <h2 class="featurette-heading"><span class="">Contacto</span></h2>
          <p id="contact-message">Ponte en contacto con nosotros.</p>
          <form id="contact-form" action="/">
            <div class="form-group">
                  <label for="nameInputEmail1">Nombre:</label>
                  <input type="text" class="form-control" id="nameInputEmail1" name="name" placeholder="Nombre completo">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Correo:</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                         placeholder="Correo electrónico">
              </div>
              <div class="form-group">
                  <label for="messageInputEmail1">Mensaje:</label>
                  <textarea type="textarea" class="form-control" id="messageInputEmail1" name="message"
                            placeholder="Mensaje"></textarea>
              </div>
            <div class="g-recaptcha" data-sitekey="6LdJLZUUAAAAAOkctapDFOXwPABh-1Prt9IQ7aYs"></div>
            <input class="btn btn-primary mt-3" type="submit" value="Contáctanos" >
          </form>
        </div>
        <div class="col-md-7 order-md-2">
          <img class="featurette-image img-fluid mx-auto cutting" src="./assets/images/cutting.png"  data-aos="fade-left" />
        </div>
      </section>

        <hr class="featurette-divider">
        {% include footer.html %}
    </div>
    
{% include imports.html %}
</body>
</html>